require 'machinist/active_record'
require 'faker'

Account.blueprint do
  name { Faker::Name.first_name }
  surname { Faker::Name.last_name }
  email { Faker::Internet.email }
  password { "password" }
  password_confirmation { "password" }
  role { "admin" }
  # Required if you want to test the Admin Account controller
  crypted_password { "password" }
end
