require 'machinist/active_record'
require 'faker'

# START blueprints

Account.blueprint do
  name { Faker::Name.first_name }
  surname { Faker::Name.last_name }
  email { Faker::Internet.email }
  password { "password" }
  password_confirmation { "password" }
  role { "admin" }
end


# END blueprints